.vs/

*.json
# Firebase secret key
**/*.json
!appsettings.json
app.db
bin/
obj/
.vs/
*.user
*.suo
*.exe
*.dll
*.pdb

# ASP.NET Core
bin/
obj/
*.user
*.suo
*.log

# Vue.js
node_modules/
dist/
.env
*.lock

# IDE/Editor
.vscode/
.idea/
